<%- include("./components/header") %>

<form action='/editArticle/<%= result.id %>' method="get">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Title</label>
      <input type="text" name="title" value=<%= result.title %> class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  placeholder="Title">
  
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"><Article></Article></label>
      <input type="text" name="article" value=<%= result.article %> class="form-control" id="exampleInputPassword1" placeholder="Article">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

<%- include("./components/footer") %>
